@charset 'UTF-8';

/* -------------------------------------------------------------------------- */
/*	Root
/* -------------------------------------------------------------------------- */

:root {
  --primary-rgb: 57, 43, 88;
  --primary: rgb(var(--primary-rgb));
  --secondary: rgb(168, 130, 221);
  --tertiary: rgb(246, 244, 244);
  --border: #dedede;
  --bs-dark-rgb: var(--primary-rgb);
}

/* -------------------------------------------------------------------------- */
/*	General HTML
/* -------------------------------------------------------------------------- */

* {
  font-family: "Lato", "Arial", "Helvetica", sans-serif;
}

body {
  background-color: var(--tertiary);
}

/* -------------------------------------------------------------------------- */
/*	Navbar
/* -------------------------------------------------------------------------- */

.navbar-brand,
.nav-link {
  color: white;
}

/* -------------------------------------------------------------------------- */
/*	Fill
/* -------------------------------------------------------------------------- */

#fill {
  width: min(750px, 90%);
  margin-inline: auto;
}

#fill .response-box {
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: white;
  width: 100%;
}

#fill .response-box .question-title {
  font-size: large;
}

#fill .response-box .question-description {
  font-size: small;
  color: gray;
}

#fill .form-shortAns .error-msg {
  color: red;
  font-size: small;
}

#fill .form-shortAns .invalid {
  border: 1px solid red;
  background-color: lightpink;
}

/* -------------------------------------------------------------------------- */
/*	Results
/* -------------------------------------------------------------------------- */
