@charset 'UTF-8';

/* -------------------------------------------------------------------------- */
/*	Root
/* -------------------------------------------------------------------------- */

:root {
  --primary-rgb: 57, 43, 88;
  --primary: rgb(var(--primary-rgb));
  --secondary: rgb(168, 130, 221);
  --tertiary: rgb(246, 244, 244);
  --border: #dedede;
  --bs-dark-rgb: var(--primary-rgb);
}

/* -------------------------------------------------------------------------- */
/*	General HTML
/* -------------------------------------------------------------------------- */

* {
  font-family: "Lato", "Arial", "Helvetica", sans-serif;
}

body {
  background-color: var(--tertiary);
}

/* -------------------------------------------------------------------------- */
/*	Navbar
/* -------------------------------------------------------------------------- */

.navbar-brand,
.nav-link {
  color: white;
}

/* -------------------------------------------------------------------------- */
/*	Fill
/* -------------------------------------------------------------------------- */

.response-box {
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-inline: auto;
  width: min(750px, 90%);
}

/* -------------------------------------------------------------------------- */
/*	Results
/* -------------------------------------------------------------------------- */
