@charset 'UTF-8';

/* -------------------------------------------------------------------------- */
/*	Root
/* -------------------------------------------------------------------------- */

:root {
  --primary-rgb: 57, 43, 88;
  --primary: rgb(var(--primary-rgb));
  --secondary: rgb(168, 130, 221);
  --tertiary: rgb(246, 244, 244);
  --border: #dedede;
  --bs-dark-rgb: var(--primary-rgb);
}

/* -------------------------------------------------------------------------- */
/*	General HTML
/* -------------------------------------------------------------------------- */

* {
  font-family: "Lato", "Arial", "Helvetica", sans-serif;
}

body {
  background-color: var(--tertiary);
}


/* -------------------------------------------------------------------------- */
/*	General
/* -------------------------------------------------------------------------- */

.response-box {
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: white;
  width: 100%;
}

.response-box .question-title {
  font-size: large;
}

.response-box .question-description {
  font-size: small;
  color: gray;
}

.btn-primary {
  background-color: var(--secondary);
}

.invalid-entry {
  border: 1px solid red;
  background-color: lightpink;
}

/* -------------------------------------------------------------------------- */
/*	Navbar
/* -------------------------------------------------------------------------- */

.navbar-brand,
.nav-link {
  color: white;
}

/* -------------------------------------------------------------------------- */
/*	Fill
/* -------------------------------------------------------------------------- */

#fill {
  width: min(750px, 90%);
  margin-inline: auto;
}

#fill .form-shortAns .validate-error-msg {
  color: red;
  font-size: small;
}

/* -------------------------------------------------------------------------- */
/*	Results
/* -------------------------------------------------------------------------- */

#results {
  width: min(750px, 90%);
  margin-inline: auto;
}

#results .freeAnsRes .response {
  background-color: var(--tertiary);
  border-radius: 10px;
}

/* -------------------------------------------------------------------------- */
/*	Results
/* -------------------------------------------------------------------------- */

#login {
  height: calc(100vh - 56px);
}

#login .login-container {
  background-color: var(--primary);
  border-radius: 10px;
  color: white;
  width: min(750px, 90%);
}

#login .login-container .validate-error-msg {
  color: red;
  font-size: small;
}

#login .signup {
  color: var(--tertiary);
}